body {
    text-align: center;
    background-color: #F6F0D9;
}

.game-container {
    background-color: #91C7B1;
    display: inline-block;
    margin-top: 50px;
    width: 500px;
    height: 500px;
}

.game-container table{
    margin: 30px auto;
    user-select:none;
    min-height: 440px;
    min-width: 440px;
    table-layout: fixed;
    background-color: grey;
}

td {
    background-color: #F1F7ED;
    font-weight: bold;
}

.size-btns {
    list-style-type: none;
    margin-top: 10px;
    margin-left: 41%;
    padding: 0;
}

.size-btns li {
    float: left;
    margin: 0 5px 0 0;
    width: 100px;
    height: 40px;
    position: relative;
}

.size-btns label,
.size-btns input {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}

.size-btns input {
    opacity: 0.01;
}

.size-btns input:checked+label,
.checked+label {
  background-color: #D18896;
}

.size-btns label {
    padding: 5px;
    border: 1px solid #CCC;
    background-color: #E3D081;
    cursor: pointer;
}

.size-btns label:hover {
    background-color: #B5A667;
  }

.timer, .smiley {
    position: absolute;
    display: inline-block;
    font-size: 35px;
}

.timer {
    margin-left: 420px;
}

.smiley {
    margin-left: 225px;
}
 
.hidden-td {
    background-color: #54494B;
    box-shadow: 0px 0px 5px 0px rgb(139, 137, 137);
    cursor: pointer;
}

.hidden-td:active {
    background-color: #b4a6a8 ;
}

.lives {
    display: inline-block;
    font-size: 35px;
    width:35px;
    position: absolute;
    margin-top: 415px;
    color: #B33951;
}

.hints {
    font-size: 35px;
    margin-top: 30px;
    margin-left: 45%;
    letter-spacing: 30px;
    width:20px;
    color: #B33951;
}

hr {
    margin-top: 230px;
}

.game-container table td{
    width: 30px;
    height: 30px;
}
